<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- Database Connection Settings -->

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="connection.url">jdbc:mysql://localhost:3306/springhibernate_db</property>

		<property name="connection.username">root</property>

		<property name="connection.password">root</property>

		<!-- Connection Pool Size (built-in) -->

		<property name="connection.pool.size">1</property>

		<!-- SQL Dialect -->

		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>


		<!-- Disable the second-level cache -->
		
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<!-- Second-level cache -->
		<property name="cache.use_second_level_caceh">true</property>	
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->

		<property name="hibernate.show_sql">true</property>

		<!-- Drop the existing tables and create new one -->

		<property name="hbm2ddl.auto">create</property>

		<!-- Mention here all the model classes along with their package name -->

		<mapping class="com.hibernate.Demo.model.Vehicle" />
		<mapping class="com.hibernate.Demo.model.UserDetail" />
		<mapping class="com.hibernate.Demo.model.Student" />
		<mapping class="com.hibernate.Demo.model.Subject" />
		<mapping class="com.hibernate.Demo.model.StudentHobby" />
		<mapping class="com.hibernate.Demo.inheritance.model.Car" />
		<mapping class="com.hibernate.Demo.inheritance.model.HatchBack" />
		<mapping class="com.hibernate.Demo.inheritance.model.Sedan" />
		<mapping class="com.hibernate.Demo.model.GroupBlkInvVo" />
		<mapping class="com.hibernate.Demo.model.AddressVo" />
		<mapping class="com.hibernate.Demo.model.RatePlanVo" />
		<mapping class="com.hibernate.Demo.model.GroupBlockVo" />
		<mapping class="com.hibernate.Demo.model.BlockMktSgmtVo" />

	</session-factory>
</hibernate-configuration>